.chat-main
  .chat-mainheader
    .chat-header
      %h2.chat-header__user-name koji
      %ul.chat-header__member
        Member：
        %li.chat-header__member-name koji
        %li.chat-header__member-name kiki
    %a{ :href => 'http://google.com'}
      %div.chat-header__btn
        Edit
  .chat-list
    .chat-list__list-box
      %p.chat-list__list-box__user-name koji
      %p.chat-list__list-box__date 2020/04/27(Mon) 00:00:00
    %p.chat-list__message こんにちは！
  .chat-form
    .message-form
      %input.input-text{:name => "message", :placeholder => "type a message", :type => "text", :value => ""}/
      %label{class: "message-form__image"}
        = icon('fas', 'image')
        %input.input-file{type: "file"}
    %input.submit-btn{:name => "send", :type => "submit", :value => "Send", :class => "chat-form__btn"}/