.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  .chat-mainheader {
    height: 100px;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    .chat-header {
      height: 100px;
      background-color: #ffffff;
      position: relative;
      &__user-name {
        background-color: #ffffff;
        color: #333333;
        font-size: 20px;
        font-weight: 100px;
        padding-top: 35px;
        margin-bottom: 15px;
      }
      &__member {
        background-color: #ffffff;
        font-size: 12px;
        display: inline;
      }
      &__member-name {
        background-color: #ffffff;
        font-size: 12px;
        display: inline;
      }
    }
  }
  .chat-header__btn {
    a {
      color: #38aef0;
      text-decoration: none;
    }
    display: inline-block;
    font-size: 16px;
    color: #38aef0;
    border: 1px solid;
    padding: 0 20px;
    width: 72px;
    height: 40px;
    margin-top: 28px;
    line-height: 40px;
  }
  .messages {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    .message {
      padding-bottom: 40px; 
      .upper-message {
        // font-size: 16px;
        // color: #434a54;
        // font-weight: bold;
        // display: inline;
        display: flex;
        margin-bottom: 10px;
        &__user-name{
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
     
    }
    .lower-message {
      // font-size: 14px;
      // color: #434a54;
      // padding-bottom: 46px;
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .chat-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    position: relative;
    .message-form {
      width: 100%;
      .new_message {
        display: flex;
      }
      .input-text {
        height: 50px;
        width: 100%;
        line-height: 50px;
      }
      .message-form__image {
        right: 160px;
        line-height: 50px;
        float: right;
        position: absolute;
        
      }
      .input-file {
        display: none;
      }
      .hidden {
        display: none;
      }
    }
    .chat-form__btn {
      text-decoration: none;
      font-size: 16px;
      background-color: #38aef0;
      color: white;
      padding: 0 20px;
      width: 100px;
      height: 50px;
      line-height: 50px;
      margin-left: 15px;
    }
  }
}